{% extends "dshop/base_dshop.html" %}
{% load static %}
{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4">Оформление заказа:</h4>
        </div>
    </div>
    <div class="container mt-3">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Количество</th>
                <th scope="col">Товар</th>
                <th scope="col">Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                <tr>
                    <td>{{ item.quantity }} шт.</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.total_price }} руб.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h6> Итого: {{ cart.get_total_price }} руб.

            <form action="." method="post" class="order-form">
                {% if request.user.is_authenticated %}
                    <p>{{ form.first_name.label_tag }} {{ request.user.first_name }}</p>
                    <p>{{ form.last_name.label_tag }} {{ request.user.last_name }}</p>
                    {{ form.email.errors }}
                    <p>{{ form.email.label_tag }} {{ form.email }}</p>
                    {{ form.address.errors }}
                    <p>{{ form.address.label_tag }} {{ form.address }}</p>
                    {{ form.phone.errors }}
                    <p>{{ form.phone.label_tag }} {{ form.phone }}</p>
                    <p>{{ form.city.label_tag }} {{ form.city }}</p>
                    {{ form.first_name.as_hidden }}
                    {{ form.last_name.as_hidden }}

                {% else %}
                    {{ form.as_p }}
                {% endif %}

                <p><input type="submit" value="Подтвердить заказ"></p>
                {% csrf_token %}
            </form>
    </div> <!-- /container -->
{% endblock %}